bin/
obj/
deploy/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Timeline/Migrations/
appsettings.json
.DS_Store
.gitignore
Timeline/Timeline.runtimeconfig.json
site.zip
.DS_Store
*.tfstate

TimelineFE/.terraform.lock.hcl
TimelineFE/.terraform/providers/registry.terraform.io/hashicorp/aws/5.49.0/darwin_amd64/terraform-provider-aws_v5.49.0_x5
TimelineFE/.terraform/modules/modules.json
